<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('templates/headMetas'); -%>
	<title>Pedido - Detalle</title>
</head>

<body class="cupcakes-bg">
	<%- include('templates/headerCliente'); -%>

	<section class="content">
		<div class="flex justify-between gap-4">
			<div>
				<h1 class="mb-2 text-3xl font-semibold">Detalles del pedido</h1>
				<div class="bg-cBlue h-[3px] w-28 mb-4"></div>
			</div>
			<div>
				<a class="px-3 py-2 mt-3 text-sm font-medium text-white border rounded inline-block3 border-cPink bg-cPink hover:bg-transparent hover:text-cPink focus:outline-none focus:ring-cPink" href="/admin/pedidos">
					<i class="fa-solid fa-left-long"></i>
				</a>
			</div>
		</div>
		<div class="p-4 py-12 mx-auto mt-6 bg-white rounded-lg shadow-2xl lg:px-8">
			<% if (data) {%>
			<form method="POST" action="update" class="max-w-4xl m-auto">
				<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
					<div class="w-full col-span-1">
						<h2 class="mt-4 mb-2 text-2xl font-semibold">Informaci贸n del cliente</h2>
						<div class="bg-cBlue h-[3px] w-12 mb-4"></div>
						<p for="emailClient" class="block text-sm">Correo electr贸nico del cliente asociado a este pedido</p>
            			<p class="block text-2xl font-medium text-cBlue"><%= data.email; %></p>
						<input
								type="text"
								name="emailClient" 
								id="emailClient"
								class="hidden"
								placeholder="esto deberia estar oculto"
								value="<%= data.email; %>"/>

						<h2 class="mt-6 mb-2 text-2xl font-semibold">Informaci贸n de entrega</h2>
						<div class="bg-cBlue h-[3px] w-12 mb-4"></div>			
						<p class="my-1 text-sm">A continuaci贸n estan los datos de <b>quien recibir谩 el premio.</b></p>
						
						<label for="receiverName" class="block mt-4 ml-1 text-sm font-medium">Nombre<span class="text-red-600">*</span></label>
						<p class="block text-2xl font-medium text-cBlue"><%= data.nameContact; %></p>
                        
						<label for="receiverPhone" class="block mt-4 ml-1 text-sm font-medium">Tel茅fono<span class="text-red-600">*</span></label>
						<p class="block text-2xl font-medium text-cBlue"><%= data.phoneContact; %></p>
                        
						<label for="receiverDate" class="block mt-4 ml-1 text-sm font-medium">Fecha de entrega <span class="text-red-600">*</span></label>
						<div class="relative">
                            <p class="block text-2xl font-medium text-cBlue"><%= data.deliveryDate; %></p>
						</div>

						<label for="receiverHour" class="block mt-4 ml-1 text-sm font-medium">Hora de entrega<span class="text-red-600">*</span></label>
						<p class="block text-2xl font-medium text-cBlue"><%= data.scheduleAvailable; %></p>
						
						<label for="receiverAddress" class="block mt-4 ml-1 text-sm font-medium">Direcci贸n de entrega<span class="text-red-600">*</span></label>
						<p class="block text-2xl font-medium text-cBlue"><%= data.deliveryAddress; %></p>
            
						<label for="description" class="block mt-4 ml-1 text-sm font-medium ">Informaci贸n adicional</label>

						<p class="block w-full p-2 mt-2 text-sm border-gray-200 rounded-lg shadow-sm whitespace-nowrap focus:ring-cBlue" ><%= data.deliveryMessage; %></p>

                        
						
						<label for="inCart" class="hidden">Premios solicitados</label>
						<input type="text" name="inCart" id="inCart" value="<%= data.idReward; %>" class="hidden"/>
					</div>
					<div class="w-full col-span-1">
						<label for="orderState" class="block mb-2 text-sm font-medium">Estado del pedido</label>
						<P id="orderState" name="orderState" class="block text-2xl font-medium text-cBlue">
							<% if (data.idOrderState == 1) {%> Pendiente <% } %> 
							<% if (data.idOrderState == 2) {%> En proceso <% } %> 
							<% if (data.idOrderState == 3) {%> Enviado <% } %> 
							<% if (data.idOrderState == 4) {%> Completado <% } %> 
							<% if (data.idOrderState == 5) {%> Cancelado <% } %> 
                        </p>

						<div id="premios-list" class="mt-4 text-sm"></div>
					</div>
				</div>
			</form>
			<% } %>
		</div>
	</section>

    <%- include('templates/footer'); -%>

	<script type="module">
		import { Grid, html } from 'https://unpkg.com/gridjs?module';
		const grid = new Grid({
			search: false,
			columns: [{
				id: 'id',
				name: 'ID',
				width: '70px',
			}, {
				id: 'photo',
				name: 'Foto',
				width: '100px',
			}
			, {
				id: 'name',
				name: 'Premio'
			}, {
				id: 'value',
				name: 'Valor'
			}],
			sort:true,
			server: {
				url: 'orderListByRewards',
				// then: data => data.map(reward => [reward.id, reward.nameReward, reward.pricePoints,
				//  html(`<span onClick="toggleCart(${reward.id})" id="addCart-${reward.id}" reward-id="${reward.id}" data-incart="false" class="px-3 py-2 mt-3 text-sm font-medium text-white border rounded cursor-pointer inline-block3 border-cBlue bg-cBlue hover:bg-transparent hover:text-cBlue focus:outline-none focus:ring-cBlue">
				// 			<i class="fa-solid fa-plus"></i>
				// 		</span>`)]),
				// <img src="/assets/img/uploads/${reward.image}" class="object-cover w-full rounded aspect-square">
				 then: data => data.map(reward => [reward.id, html(`<img src="/assets/img/uploads/${reward.image}" class="object-cover w-full rounded aspect-square"/>`), reward.nameReward, reward.pricePoints]),
			 	handle: (res) => {
			 	// no matching records found
			 	if (res.status === 404) return {data: []};
			 	if (res.ok) return res.json();

			 	throw Error('oh no :(');
			 	},
			 }, 
			pagination: {
				enabled: true,
				limit: 10,
				summary: false
			},
			language: {
				'search': {
				'placeholder': ' Buscar...'
			},
			'pagination': {
				'previous': 'Ant.',
				'next': 'Sig.'
			}, 
			style: { 
				table: { 
				'white-space': 'nowrap'
				}
			},
		}
		}).render(document.getElementById('premios-list'));


		// Cargamos el carrito de compras
		loadCart();
	</script>

</body>

</html>