<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('./templates/headMetas'); -%>
	<title>Crea una nueva contraseña</title>
</head>

<body class="cupcakes-bg">

	<main class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8 ">
		<div class="max-w-lg mx-auto">
			<h1 class="text-2xl font-bold text-center text-cBlue sm:text-3xl">
				Crea una nueva contraseña
			</h1>

			<form method="POST" action="" class="p-8 mt-6 mb-0 space-y-4 bg-white rounded-lg shadow-2xl">
				<p class="text-lg font-medium">¿Cual sera tu nueva contraseña?</p>

				<div>
					<label for="password" class="text-sm font-medium">Nueva contraseña</label>
					<div class="relative mt-1 mb-2">
						<input type="password" name="password" id="password" class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm" placeholder="Ingresa tu contraseña" required />

						<span class="absolute inset-y-0 inline-flex items-center right-4">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
							</svg>
						</span>
					</div>

					<label for="password2" class="text-sm font-medium">Repite la contraseña</label>
					<div class="relative mt-1">
						<input type="password" name="password2" id="password2" class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm" placeholder="Escribe de nuevo tu contraseña" required />

						<span class="absolute inset-y-0 inline-flex items-center right-4">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
							</svg>
						</span>
					</div>
				</div>

				<button type="submit" class="block w-full px-5 py-3 text-sm font-medium text-white rounded-lg bg-cPink">
					Asignar contraseña
				</button>

				<p class="mt-4 mb-2 text-sm text-center text-gray-500">
					Si sabes tu contraseña solo
					<a class="underline" href="/" class="text-cBlue">Inicia Sesión</a>
				</p>

				<p class="text-sm text-center text-gray-500">
					¿No tienes cuenta? Envianos un mensaje a nuestro correo
					<a class="underline" href="mailto:contacto@empresa.com" class="text-cBlue">contacto@empresa.com</a>
				</p>
			</form>
		</div>
	</main>

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<% if(typeof alert != "undefined") { %>
	<script>
		Swal.fire({
			title: '<%= alertTitle %>',
			text: '<%= alertMessage %>',
			icon: '<%= alertIcon %>',
			showConfirmButton: '<%= showConfirmButton %>',
			timer: '<%= timer %>',
		}).then(() => {
			window.location = '<%= ruta %>';
		});
	</script>
	<% } %>

</body>

</html>