<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('../templates/headMetas'); -%>
		<title>Clientes</title>
	</head>
	<body>
		<%- include('../templates/header'); -%>

		<h1>clientes</h1>
		<div class="clientes">
			<% if (arrayClientes.length > 0) { %> 
                <% arrayClientes.forEach(cliente => { %>
                    <div class="nombre"><%= cliente.nombre %></div>
                    <div class="correo"><%= cliente.correo %></div>
                <% }) %> 
            <% } %>
		</div>

		<%- include('../templates/footer'); -%>
	</body>
</html>
