<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('../templates/headMetas'); -%>
	<title>Clientes</title>
</head>

<body class="cupcakes-bg">
	<%- include('../templates/header'); -%>

	<div class="px-2 content lg:px-4">
		<div class="flex justify-between gap-4 titles">
			<div>
				<h1 class="mb-2 text-3xl font-semibold">Detalle Cliente</h1>
				<div class="bg-cBlue h-[3px] w-20 mb-4"></div>
			</div>
			<div>
				<a
				  class="inline-block px-3 py-1 mt-3 text-sm font-medium text-white border rounded border-cPink bg-cPink hover:bg-transparent hover:text-cPink focus:outline-none focus:ring"
				  href="/admin/clientes"
				>
                    <i class="fa-solid fa-arrow-left"></i>
				</a>
			</div>
		</div>
		
		<section>
			<h2 class="mt-4 mb-2 text-2xl font-semibold">Informaci贸n del cliente</h2>
			<div class="bg-cBlue h-[3px] w-12 mb-4"></div>


			<div class="flex gap-4 mt-2 mb-4">
				<div class="w-4/6 p-4 py-6 bg-white shadow">
					<% if (data) {%>
					<form method="POST" action="update" class="">
						<div id="name" class="">
							<strong class="block text-gray-900">Nombre:</strong>
							<input
								type="text"
								name="name" 
								id="name"
								class="block w-full p-2 mt-2 border-gray-200 rounded-lg shadow-sm focus:ring-cBlue"
								placeholder="Nombre"
								value="<%= data.name; %>"
								required
							/>
							<input
								type="text"
								name="idClient" 
								id="idClient"
								class="hidden"
								placeholder="esto deberia estar oculto"
								value="<%= data.id; %>"
								required
							/>
						</div>
						<div id="email" class="mt-4">
							<strong class="block mt-2 text-gray-900">Correo Electr贸nico:</strong>
							<input
								type="email"
								name="email" 
								id="email"
								class="block w-full p-2 mt-2 border-gray-200 rounded-lg shadow-sm focus:ring-cBlue"
								placeholder="Correo electronico"
								value="<%= data.email; %>"
								required
							/>		
						</div>
						<div id="phone" class="mt-4">
							<strong class="block mt-2 text-gray-900">T茅lefono:</strong>
							<input
							type="tel"
							name="phone" 
							id="phone"
							class="block w-full p-2 mt-2 border-gray-200 rounded-lg shadow-sm focus:ring-cBlue"
							placeholder="Numero de contacto"
							value="<%= data.phone; %>"
							required
						/>
						</div>
						<div id="address" class="mt-4">
							<strong class="block mt-2 text-gray-900">Direcci贸n:</strong>
							<input
							type="text"
							name="address" 
							id="address"
							class="block w-full p-2 mt-2 border-gray-200 rounded-lg shadow-sm focus:ring-cBlue"
							placeholder="Numero de contacto"
							value="<%= data.address; %>"
							required
						/>
						
					
					
					</div>
						
						<button
							type="submit"
							class="block w-40 py-3 mt-6 font-medium text-white rounded-lg bg-cPink focus:ring-cBlue hover:bg-cBlue"
							>
								Actualizar
						</button>
					</form>
					<% } %>
				</div>
				<div class="flex items-center justify-center w-2/6 p-4 py-6 bg-white shadow">		
					<div class="text-center">
						<i class="text-5xl fa-solid fa-trophy text-cPink"></i>
						<strong class="block mt-2 text-black">Puntos disponibles:</strong> 
						<span class="text-3xl text-cPink">
							<% if(data.points) { %> <%= data.points %> Puntos<%} else {%> 0 Puntos<%}%>
						</span>
						<strong class="block mt-4 text-sm text-black">Puntos totales obtenidos:</strong> 
						<span class="text-2xl text-cBlue">
							<% if(data.totalPoints) { %> <%= data.totalPoints %> Puntos<%} else {%> 0 Puntos<%}%>
						</span>

						<h3 class="mt-16 mb-2 text-xl font-semibold">Correos al cliente:</h3>
						<div class="bg-cBlue h-[3px] w-8 mb-4 mx-auto"></div>
						<p class="block mt-2 text-black">Estos botones te permiten enviar mensajes al correo electronico del cliente con las siguientes funciones:</p> 
						
						<a href="email">
							<button
								class="m-2 w-40 py-3 mt-6 font-medium rounded-lg border-2 border-cBlue text-cBlue focus:ring-cBlue hover:border-cBlue hover:bg-cBlue hover:text-white"
								>
								Notificar puntos actuales
							</button>
						</a>
						<a href="changePassword">
							<button
								class="m-2 w-40 py-3 mt-6 font-medium rounded-lg border-2 border-cBlue text-cBlue focus:ring-cBlue hover:border-cBlue hover:bg-cBlue hover:text-white"
								>
								Enlace cambio de contrase帽a
							</button>
						</a>
					</div>
				</div>
			</div>
		</section>

         <!-- Compras realizadas -->
		 <section>
			<h2 class="mt-8 mb-2 text-2xl font-semibold">Compras del cliente</h2>
			<div class="bg-cBlue h-[3px] w-12 mb-4"></div>
			<div id="gridClientsPurchase" class="mt-4"></div>
		 </section>

		 <section>
			<h2 class="mt-8 mb-2 text-2xl font-semibold">Premios solicitados</h2>
			<div class="bg-cBlue h-[3px] w-12 mb-4"></div>
			<div id="gridClientsOrders" class="mt-4"></div>
		</section>
	</div>

	<%- include('../templates/footer'); -%>

    <script type="module">
		import { Grid, html } from 'https://unpkg.com/gridjs?module';
		new Grid({
			search: true,
			columns: [ {
				id: 'date',
				name: 'Fecha'
			}, {
				id: 'orderName',
				name: 'Nombre de la compra',
			}, {
				id: 'value',
				name: 'Valor', 
			}, {
				id: 'points',
				name: 'Puntos'
			},{
				id: 'actions',
				name: '',
				width: '100px',
				sort: {
					enabled: false
				}
			}],
			sort: true,
			server: {
				url: 'comprasList',
				then: data => data.map(compra => [compra.datePurchase, compra.namePurchase, "$"+compra.valuePurchase, compra.pointsPurchase + " Pts.", html(`<a href="/admin/compras/edit/${compra.id}/"><i class="mx-1 text-gray-500 fa-solid fa-pen-to-square hover:text-cPink"></i></a><a href="" onClick="deletePurchase(${compra.id})"><i class="mx-1 text-gray-500 fa-solid fa-trash-can hover:text-cPink"></i></a>`)]),
				handle: (res) => {
				// no matching records found
				if (res.status === 404) return {data: []};
				if (res.ok) return res.json();
				
				throw Error('oh no :(');
				},
			},
			pagination: {
				enabled: true,
				limit: 10,
				summary: false
			},
			language: {
				'search': {
				'placeholder': ' Buscar...'
			},
			'pagination': {
				'previous': 'Ant.',
				'next': 'Sig.'
			}, 
			style: { 
				table: { 
				'white-space': 'nowrap'
				}
			}
		}
		}).render(document.getElementById('gridClientsPurchase'));
    </script>

	

	<script type="module">
		import { Grid, html } from 'https://unpkg.com/gridjs?module';
		new Grid({
			search: true,
			columns: [ {
				id: 'id',
				name: 'ID',
				width: '90px',
			},{
				id: 'orderDate',
				name: 'F. creaci贸n',
				width: '170px',
			},{
				id: 'deliveryDate',
				name: 'F. de entrega',
				width: '170px',
			},{
				id: 'state',
				name: 'Estado',
				width: '120px',
			}, {
				id: 'actions',
				name: '',
				width: '75px',
				sort: {
					enabled: false
				}
			}],
			sort: true,
			server: {
				url: 'orderList',
				then: data => data.map(order => [order.id, order.orderDate, order.deliveryDate, order.stateName,
		             html(`<a href="/admin/pedidos/edit/${order.id}/"><i class="mx-1 text-gray-500 fa-solid fa-pen-to-square hover:text-cPink"></i></a>`)]),
				handle: (res) => {
				// no matching records found
				if (res.status === 404) return {data: []};
				if (res.ok) return res.json();
				
				throw Error('oh no :(');
				},
			},
			pagination: {
				enabled: true,
				limit: 10,
				summary: false
			},
			language: {
				'search': {
				'placeholder': ' Buscar...'
			},
			'pagination': {
				'previous': 'Ant.',
				'next': 'Sig.'
			}, 
			style: { 
				table: { 
				'white-space': 'nowrap'
				}
			}
		}
		}).render(document.getElementById('gridClientsOrders'));
	</script>

</body>

</html>