<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('../templates/headMetas'); -%>
	<title>Compra nueva</title>
</head>

<body class="cupcakes-bg">
	<%- include('../templates/header'); -%>

	<div class="content">
		<div class="flex justify-between gap-4">
			<div>
				<h1 class="mb-2 text-3xl font-semibold">Detalle Compra</h1>
				<div class="bg-cBlue h-[3px] w-20 mb-4"></div>
			</div>
            <div>
				<a
				  class="px-3 py-2 mt-3 text-sm font-medium text-white border rounded inline-block3 border-cPink bg-cPink hover:bg-transparent hover:text-cPink focus:outline-none focus:ring"
				  href="/admin/compras"
				>
                    <i class="fa-solid fa-left-long"></i>				  
				</a>
			</div>
	</div>
    
    <div class="p-4 py-12 mx-auto mt-6 text-center bg-white rounded-lg shadow-2xl">
        <% if (data) {%>
            <p for="emailClient" class="block text-sm">Correo electrónico del cliente asociado a esta compra</p>
            <p class="block text-2xl font-medium text-cBlue"><%= data.email; %></p>

        <form method="POST" action="update" class="">
            
            <label for="namePurchase" class="block mt-6 text-sm font-medium ">Nombre de la compra<span class="text-red-600">*</span></label>
            <input
                type="text"
                name="namePurchase"
                id="namePurchase"
                class="block p-2 m-auto mt-2 text-sm text-center border-gray-200 rounded-lg shadow-sm w-96"
                placeholder="Nombre de la compra"
                value="<%= data.namePurchase; %>"
                required
            />   

            <label for="points" class="block mt-4 ml-1 text-sm font-medium">Fecha de la compra</label>
            <div class="relative m-auto w-96">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </div>
                <input 
                datepicker datepicker-format="dd/mm/yyyy" 
                type="text"                
                name="datePurchase" 
                id="datePurchase"
                data-value="<%= data.datePurchase; %>"
                class="bg-white border border-gray-200 text-gray-900 sm:text-sm rounded-lg focus:ring-cBlue block w-full p-2.5 text-center mt-2 datepicker" 
                placeholder="Seleciona una fecha">
            </div>

            
            
            <label for="valuePurchase" class="block mt-6 text-sm font-medium">Valor de la compra<span class="text-red-600">*</span></label>
            <input
            type="text"
            inputmode="numeric"
            pattern="\d*" 
            name="valuePurchase" 
            id="valuePurchase"
            class="block p-2 m-auto mt-2 text-sm text-center border-gray-200 rounded-lg shadow-sm w-96"
            placeholder="Valor de la compra"
            value="<%= data.valuePurchase; %>"
            required
            />

            <label for="description" class="block mt-6 text-sm font-medium">Descripcion</label>
            <textarea
            type="text"
            name="description" 
            id="description"
            class="block p-2 m-auto mt-2 text-sm text-center border-gray-200 rounded-lg shadow-sm w-96"
            placeholder="Descripcion de la compra"
            ><%= data.description; %></textarea>

            <input
                type="oldValuePurchase"
                name="oldValuePurchase" 
                id="oldValuePurchase"
                class="hidden"
                value="<%= data.valuePurchase %>"
            />
            <input
                type="email"
                name="email" 
                id="email"
                class="hidden"
                value="<%= data.email; %>"
            />

            
            <button
            type="submit"
            class="block py-3 m-auto mt-6 text-sm font-medium text-white rounded-lg w-60 bg-cPink"
            >
                Actualizar
            </button>

            <span class="block mt-4 text-sm text-red-600">(*) Los campos con asterisco son obligatorios.</span>
        </form>
        <% } %>
    </div>    

	<%- include('../templates/footer'); -%>
	
</body>

</html>