    </main>
    <footer class="mt-8 p-4 border-t-[1px] text-center text-gray-400 bottom-0 w-full">
        <h4>© Copyright 2022</h4>
    </footer>
</div>

<script src="https://kit.fontawesome.com/1155cd00ae.js" crossorigin="anonymous"></script>
<script src="/assets/js/datepicker.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if(typeof alert != "undefined") { %>
<script>
    Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: '<%= showConfirmButton %>',
        timer: '<%= timer %>',
    }).then(() => {
        window.location = '<%= ruta %>';
    });
</script>
<% } %>


<script src="/assets/js/index.js"></script>